# Unreal Engine
Binaries/
DerivedDataCache/
Intermediate/
Saved/
Content/
*.sln
*.sdf
*.suo
*.opensdf
*.VC.db
*.VC.opendb

# Visual Studio
.vs/
.idea/
*.user
*.VC.db
*.VC.opendb

# Windows
Thumbs.db
Desktop.ini
$RECYCLE.BIN/